body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.habit {
  height: 80px;
  padding-left: 15px;
}

.habit__title {
  font-size: 24px;
  color: white;
  font-weight: bold;
  opacity: 0.9;
}

.habit__progress {
  font-size: 14px;
  color: white;
  font-weight: bold;
  opacity: 0.9  ;
}

.navbar {
  background-color: #3aa7cd;
  height: 50px;
}

.navbar__addBtn {
  color: white
}